img{
     border:2px solid blue;
}

h1{
    color:blue;
}

h2{
    color: grey;
}

div{
    margin: 4px;
}

a{
    color: black;
}

a:link{
    color:white;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    padding: 14px 25px;
    background-color: rgb(50, 91, 168);
   border-radius: 20px;
}

a:hover{
    background-color: rgb(50, 168, 144);
}

